
<h2> Log In </h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from logging in:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

</br>
</br>
</br>
<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
</br>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %> </br>
  </br>
  </br>
  <h3> Don't have an account yet? </h3>

  <%= link_to 'Sign Up here', new_user_path%>
<% end %>
