<%= form_for @stockist do |f| %>



</br>
<%= f.label :name%>
<%= f.text_field :name %><br>
<%= f.label :address%>
<%= f.text_field :address %><br>
<%= f.label :email%>
<%= f.text_field :email %><br>
<%= f.label :phone%>
<%= f.text_field :phone %></br>

</br>

< -- adding association data (bourbons) -- > </br>

  <%= f.collection_check_boxes :bourbon_ids, Bourbon.all, :id, :name %> </br>
  <h2> OR add new bourbon:</h2>
  <%= f.fields_for :bourbons, @stockist.bourbons.build do |bourbons_fields| %>
    <%= bourbons_fields.label :name%></br>
    <%= bourbons_fields.text_field :name%></br>
    <%= bourbons_fields.label :year%></br>
    <%= bourbons_fields.text_field :year%></br>
    <%= bourbons_fields.label :grain%></br>
    <%= bourbons_fields.text_field :grain%></br>
    <%= bourbons_fields.label :description%></br>
    <%= bourbons_fields.text_field :description%></br>
  <% end %>

</br>
</br>
  <%= f.submit %>
<% end %>
