


<h1> Stockists Index </h1>



<% @stockists.each do |stockist| %>
<%= link_to stockist.name, stockist_path(stockist) %></br>
<% end %>

<br>


<%= form_for(@stockist) do |f| %>
<%= f.text_area :name %>
<%= f.text_area :address %>
<p><%= f.submit %></p>
<% end %>

<script>
$(function(){
$("new_stockist").on("submit", function(e){
  alert("You clicked SUBMIT!!")
console.log(this)

  e.preventDefault();
})

});
</script>
