<head>

</head>

<body>
<h1> Stockists Index </h1>



<% @stockists.each do |stockist| %>
<%= link_to stockist.name, stockist_path(stockist) %></br>
<% end %>

<br>


<%= form_for(@stockist) do |f| %>
<%= f.text_area :name %>
<%= f.text_area :address %>
<%= f.submit :submit %>
<% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="js/stockists.js" type="text/javascript>"></script>
</body>
