
<body>
<h1> Stockists Index </h1>
<br>


<div id="stockist-form">
<%= form_for(@stockist) do |f| %>
<%= f.text_area :name %>
<%= f.text_area :address %>
<%= f.submit :submit %>
<% end %>

<ul class="new-stockist"></ul>
  </div>


<script id="stockist-template" type="text/x-handlebars-template">
  <div class="name">
    <h1>{{name}}</h1>
    <div class="address">
      {{address}}
    </div>
  </div>
</script>

<div id='stockists-index'>
	<% @stockists.each do |stockist| %>
	<%= link_to stockist.name, url: '#', id: stockist.id %><br>
	<% end %>
</div>



</body>
