

<h1><%= @stockist.name %></h1> <br>
<%= @stockist.address %> <br>
<%= @stockist.email %> <br>
<%= @stockist.phone %> <br>


<h2>List of bourbons at <%= @stockist.name %></h2>
<% @stockist.bourbons.each do |bourbon| %> </br>

<li><%= link_to bourbon.name, bourbon_path(bourbon) %></li> </br>
<% end %>
</br>
<%= link_to 'add stockist note ', new_bourbon_stockist_path %></br>

</br>
<%= link_to 'Edit Stockist', edit_stockist_path %> </br>
<%= link_to 'All Stockists', stockists_path %></br>
