
<% if @bourbon.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@bourbon.errors.count, "error") %>
      prohibited this bourbon from being saved:
    </h2>

    <ul>
    <% @bourbon.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @bourbon do |f| %>

 DISTILLERY:
  <%= f.text_field :distillery_name, list: "distilleries_autocomplete" %>
  <datalist id="distilleries_autocomplete">
    <% Distillery.all.each do |distillery| %>
      <option value="<%= distillery.name %>">
    <% end %>
  </datalist>

</br>
</br>
BOURBON DETAILS:</br>
<%= f.label :name%>
<%= f.text_field :name %><br>
<%= f.label :grain%>
<%= f.text_field :grain %><br>
<%= f.label :year%>
<%= f.text_field :year %><br>
<%= f.label :description%>
<%= f.text_field :description %></br>

</br>

< -- adding association data (stockists) -- > </br>
 Choose existing stockists: </br>
  <%= f.collection_check_boxes :stockist_ids, Stockist.all, :id, :name %> </br>
</br>



<%= f.submit %>
<% end %>
