<h1> Bourbon Index </h1>

<table>
  <tr>
    <th>Distillery</th>
    <th>Bourbon</th>
    <th>Description</th>
  </tr>

<% @bourbons.each do |bourbon| %>
<tr>
<td><%= display_distillery(bourbon) %> </td>
<td><%=link_to bourbon.name, bourbon_path(bourbon) %></td>
<td><div id="body-<%= bourbon.id %>"><%= truncate bourbon.description %></div></td>
<td><button class="js-more" data-id="<%= bourbon.id %>">More...</button></td>
</tr>
<% end %>
</table>


<br>
</br>
<%= link_to "Add New Bourbon", new_bourbon_path %> </br>
</br>
<%= link_to "Rare Bourbons", rare_path %> </br>
</br>
<%= link_to "Distillery Index List", distilleries_path %> </br>
<%= link_to "Stockist Index List", stockists_path %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.getJSON("/bourbons/" + id + "/bourbon_data", function(data) {
      // Replace text of body-id div
      $("#body-" + id).html(data["description"]);
    });
  });
});
</script>
