<h1> Bourbon Index </h1>

<table>
  <tr>
    <th>Distillery</th>
    <th>Bourbon</th>
  </tr>

<% @bourbons.each do |bourbon| %>
<tr>
<td><%= display_distillery(bourbon) %> </td>
<td><%=link_to bourbon.name, bourbon_path(bourbon) %></td>
<div id="body-<%= bourbon.id %>"><%= truncate bourbon.description %></div>
<button class="js-more" data-id="<%= bourbon.id %>">More...</button>
</tr>
<% end %>
</table>






<br>
</br>
<%= link_to "Add New Bourbon", new_bourbon_path %> </br>
</br>
<%= link_to "Rare Bourbons", rare_path %> </br>
</br>
<%= link_to "Distillery Index List", distilleries_path %> </br>
<%= link_to "Stockist Index List", stockists_path %>
