

<h1><%= @bourbon.name %></h1> <br>
<h3> by <%= @bourbon.distillery_name%></h3>

YEAR: <%= @bourbon.year %> <br>
GRAIN: <%= @bourbon.grain %> <br>
DESCRIPTION: <%= @bourbon.description %> <br>



<h2>List of Stockists</h2>
<% @bourbon.stockists.each do |stockist| %>

<li><%= link_to stockist.name, stockist_path(stockist) %></li>
<% end %>

</br>
<%= link_to 'Edit Bourbon', edit_bourbon_path %> </br>
<%= link_to 'All Bourbons', bourbons_path %> </br>


</br>
</br>
Stockist Notes :
</br>
  <% @bourbon.bourbon_stockists.each do |bourbon_stockist| %>
	<%= bourbon_stockist.stockist %>
  <%= bourbon_stockist.notes %>
  <% end %>
