

<h1 class="bourbonName"><%= @bourbon.name %></h1>
<h3><div class="distilleryName"> by <%= @bourbon.distillery_name %></div> </h3>
<p class="bourbonDescription"><%= @bourbon.description %></p>
<p class="bourbonAge"> AGE:<%= @bourbon.age %></p>
<p class="bourbonGrain"> GRAIN:<%= @bourbon.grain %></p>

</br>
</br>
<h3>List of Stockists:</h3>
<% @bourbon.stockists.uniq.each do |stockist| %>

<%= link_to stockist.name, stockist_path(stockist) %></br>
<% end %>

</br>
</br>
Stockist Notes :
</br>

  <% @bourbon.bourbon_stockists.each do |bourbon_stockist| %>
  <% unless bourbon_stockist.notes.nil? %>
    <%= bourbon_stockist.stockist_name %> -
    <%= bourbon_stockist.notes %>
    <%= link_to 'Edit Note', edit_bourbon_stockist_path(bourbon_stockist) %> </br>
    <%end %>
  <%end %>
</br>
</br>
</br>
<%= link_to 'Edit Bourbon', edit_bourbon_path %> </br>
<%= link_to 'All Bourbons', bourbons_path %> </br>


<a href="#" class="js-next" data-id="<%=@bourbon.id%>">Next...</a>



<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/bourbons/" + nextId + "/bourbon_data", function(data) {
      $(".distilleryName").text(data["distillery"]["name"]);
      $(".bourbonName").text(data["name"]);
      $(".bourbonDescription").text(data["description"]);
      $(".bourbonAge").text(data["age"]);
      $(".bourbonGrain").text(data["grain"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>
