
<h1><%= @bourbon.name %></h1>
<h3> by <%= @bourbon.distillery_name%></h3>

AGE: <%= @bourbon.age %> <br>
GRAIN: <%= @bourbon.grain %> <br>
DESCRIPTION: <%= @bourbon.description %> <br>
</br>
</br>
<h3>List of Stockists:</h3>
<% @bourbon.stockists.uniq.each do |stockist| %>

<li><%= link_to stockist.name, stockist_path(stockist) %></li>
<% end %>

</br>
</br>
Stockist Notes :
</br>

  <% @bourbon.bourbon_stockists.each do |bourbon_stockist| %>
  <% unless bourbon_stockist.notes.nil? %>
    <%= bourbon_stockist.stockist_name %> -
    <%= bourbon_stockist.notes %>
    <%= link_to 'Edit Note', edit_bourbon_stockist_path(bourbon_stockist) %> </br>
    <%end %>
  <%end %>
</br>
</br>
</br>
<%= link_to 'Edit Bourbon', edit_bourbon_path %> </br>
<%= link_to 'All Bourbons', bourbons_path %> </br>
