<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

   <script src="javascripts/distilleries.js" type="text/javascript>"></script>

  </head>
  <body>

<h1><%= @distillery.name %></h1>
<h2><%= @distillery.address %> </h2></br>
<h3> List of Bourbons produced by this distillery: </h3> </br>


 <%#<ul>
<% @distillery.bourbons.each do |bourbon| %>
 <%#<li><%= link_to bourbon.name, distillery_bourbon_path(@distillery, bourbon) %><%#</li>
 <%#<% end %>
 <%#</ul>%>

 <p>
   <%= link_to 'Load Bourbons', distillery_bourbons_path(@distillery), :class => "load_bourbons" %>
   <p>

</br>
<%= link_to 'Add new Bourbon', new_distillery_bourbon_path(@distillery) %> </br>
</br>
<%= link_to 'Edit Distillery', edit_distillery_path %> </br>
</br>
<%= link_to 'All Distilleries', distilleries_path %>


<script src="js/distilleries.js" type="text/javascript>"></script>

  </body>
</html>
